body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:  url('file:///D:/stockcommu/image/body.jpg'); /* เส้นทางในเครื่อง */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* ปรับค่าความโปร่งใส */
    z-index: -1; /* ทำให้พื้นหลังอยู่ด้านล่างเนื้อหา */
}
header h1, header h2 {
    text-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #00bfff, 0 0 50px #00bfff;
}
/* สำหรับหน้าจอมือถือ */
@media (max-width: 600px) {
    header {
        height: 200px;
        background-position: center;
    }
    .navbar a {
        font-size: 14px;
        padding: 10px;
    }
    .card {
        margin-bottom: 10px;
        padding: 10px;
    }
}

/* สำหรับหน้าจอแท็บเล็ต */
@media (min-width: 600px) and (max-width: 1024px) {
    header {
        height: 300px;
        background-size: cover;
    }
    .navbar a {
        font-size: 18px;
        padding: 12px;
    }
    .card {
        margin-bottom: 15px;
        padding: 15px;
    }
}

/* สำหรับหน้าจอใหญ่ */
@media (min-width: 1024px) {
    header {
        height: 380px;
    }
    .navbar a {
        font-size: 20px;
        padding: 14px;
    }
    .card {
        margin-bottom: 20px;
        padding: 20px;
    }
}

